.list-container {
  width: 50%;
}

.list-of-items {
  padding-bottom: 30px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list-of-items li.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.list-of-items li.disabled button {
  cursor: not-allowed;
}

.list-of-items li button {
  min-width: 100px;
  padding: 5px;
  margin-left: 30px;

  color: #31d2f7;
  background-color: #fff;
}

.list-of-items li button:not([disabled]):hover {
  color: #fff;
  background-color: #31d2f7;
}

@media (max-width: 767px) {
  .list-container {
    width: 100%;
    max-width: 400px;
  }
}
